.head {
  text-align: center;
  padding-top: 20px;
}

.container1,
p {
  font-size: 1.2em;
  padding: 10px;
  margin: 15px;
}
.img1 {
  text-align: center;
  width: 100%;
  height: auto;
}
.container2,
p {
  font-size: 1.2em;
  padding: 10px;
  margin: 15px;
}

.container3,
p {
  font-size: 1.2em;
  padding: 10px;
  margin: 15px;
}

.container4,
p {
  font-size: 1.2em;
  padding: 10px;
  margin: 15px;
}
.img2 {
  text-align: center;
  width: 80%;
  height: auto;
  margin-left: 100px;
}
.container5,
p {
  font-size: 1.2em;
  padding: 10px;
  margin: 15px;
}

footer {
  font-size: 1.2em;
  padding: 10px;
  margin: 15px;
}
